In [1]:
import pandas as pd

In [108]:
data = [[1, 'John', 100000, 6, '4/1/2006'], [2, 'Amy', 12000, 5, '5/1/2010'], [3, 'Mark', 65000, 12, '12/25/2008'], [4, 'Pam', 25000, 25, '1/1/2005'], [5, 'Alex', 5000, 10, '2/3/2007']]
sales_person = pd.DataFrame(data, columns=['sales_id', 'name', 'salary', 'commission_rate', 'hire_date']).astype({'sales_id':'Int64', 'name':'object', 'salary':'Int64', 'commission_rate':'Int64', 'hire_date':'datetime64[ns]'})
data = [[1, 'RED', 'Boston'], [2, 'ORANGE', 'New York'], [3, 'YELLOW', 'Boston'], [4, 'GREEN', 'Austin']]
company = pd.DataFrame(data, columns=['com_id', 'name', 'city']).astype({'com_id':'Int64', 'name':'object', 'city':'object'})
data = [[1, '1/1/2014', 3, 4, 10000], [2, '2/1/2014', 4, 5, 5000], [3, '3/1/2014', 1, 1, 50000], [4, '4/1/2014', 1, 4, 25000]]
orders = pd.DataFrame(data, columns=['order_id', 'order_date', 'com_id', 'sales_id', 'amount']).astype({'order_id':'Int64', 'order_date':'datetime64[ns]', 'com_id':'Int64', 'sales_id':'Int64', 'amount':'Int64'})

In [119]:
new_SalesPerson = sales_person[['sales_id','name']]
new_Company = company[['com_id','name']]
new_orders = orders[['order_id','com_id','sales_id']]

company_name_id = new_Company[new_Company['name']=="RED"]['com_id'][0]
orders_sales_id = list(set(new_orders[new_orders['com_id']==company_name_id]['sales_id']))
data = []
for id in orders_sales_id:
    name = list(new_SalesPerson[new_SalesPerson['sales_id']==id]['name'])[0]
    data.append(name)
ans_df = pd.DataFrame(data,columns=['name'])
ans_df

0    John
Name: name, dtype: object
3    Pam
Name: name, dtype: object

   name
0  John
1   Pam