In [2]:
import pandas as pd

In [19]:
data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time'])
employees['emp_id'] = employees['emp_id'].astype('float').astype('Int64')
employees['event_day'] = employees['event_day'].astype('datetime64[ns]')
employees['in_time'] = employees['in_time'].astype('float').astype('Int64')
employees['out_time'] = employees['out_time'].astype('float').astype('Int64')
employees

   emp_id  event_day  in_time  out_time
0       1 2020-11-28        4        32
1       1 2020-11-28       55       200
2       1 2020-12-03        1        42
3       2 2020-11-28        3        33
4       2 2020-12-09       47        74

In [27]:
df = employees.groupby(by=['emp_id',"event_day"]).sum()
df['total_time'] = df['out_time']-df['in_time']
df.reset_index()[['event_day','emp_id','total_time']].rename(columns={'event_day':'day'})

         day  emp_id  total_time
0 2020-11-28       1         173
1 2020-12-03       1          41
2 2020-11-28       2          30
3 2020-12-09       2          27